<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2B9BUdlgg1I5Fu86xJljge6RxatadthE</string>
	<key>GCM_SENDER_ID</key>
	<string>773029815570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.vatsalya..ChatWithGemini</string>
	<key>PROJECT_ID</key>
	<string>genchat-e4fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>genchat-e4fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773029815570:ios:4ec4b8bca7e27d50103fcb</string>
</dict>
</plist>